<div class="hero min-h-screen" style="background-image: url(assets/geometric-1732847_1280.jpg);">
    <div class="hero-overlay bg-opacity-60"></div>
    <div class="hero-content text-center text-neutral-content">
        <div class="max-w-md">
            <h1 class="mb-5 text-5xl font-bold">Data Digitalization Maxon</h1>
            <p class="mb-5">Motor Performance: Test data transformed into visual diagrams</p>
            <button routerLink="/dashboard" routerLinkActive="active" ariaCurrentWhenActive="page"
                class="btn btn-active btn-ghost">Go to Dashboard</button>
        </div>
    </div>
</div>